In [15]:
import pandas as pd

df = pd.read_csv("cities_in_japan_2023.csv")

In [16]:
df.head()

     id  prefecture_id                city_en city_ja special_district_ja
0  1100              1                Sapporo     札幌市                 NaN
1  1101              1       Chūō-ku, Sapporo     札幌市                 中央区
2  1102              1       Kita-ku, Sapporo     札幌市                  北区
3  1103              1    Higashi-ku, Sapporo     札幌市                  東区
4  1104              1  Shiroishi-ku, Sapporo     札幌市                 白石区

In [17]:
df.isna().sum()

id                        0
prefecture_id             0
city_en                   3
city_ja                   0
special_district_ja    1747
dtype: int64

In [18]:
# Clean up:
# Remove comma after
# Remove all parentheses and anything in them
# Remove all spaces
# Remove apostrophes
# Lower case everything
cities_raw = df["city_en"].dropna().apply(
    lambda x: x.split(",")[0].lower().split("(")[0].split(" ")[0].replace("'", "").strip())


cities_raw.to_csv("cities_raw.csv", index=False)
cities_raw

0            sapporo
1            chūō-ku
2            kita-ku
3         higashi-ku
4       shiroishi-ku
            ...
1913        kumejima
1914           yaese
1915          tarama
1916        taketomi
1917        yonaguni
Name: city_en, Length: 1915, dtype: object

In [3]:
import pandas as pd

df = pd.read_csv("chinese_cities.csv", header=1)
df.head()

,Location_ID,Location_Name_EN,Location_Name_ZH,ISO_3166_1,Country_Region_EN,Country_Region_ZH,Adm1_Name_EN,Adm1_Name_ZH,Adm2_Name_EN,Adm2_Name_ZH,Timezone,Latitude,Longitude,AD_code
0,101010100,Beijing,北京,CN,China,中国,Beijing,北京市,Beijing,北京市,Asia/Shanghai,39.9050,116.4053,110000
1,101010200,Haidian,海淀,CN,China,中国,Beijing,北京市,Beijing,北京市,Asia/Shanghai,39.9561,116.3103,110108
2,101010300,Chaoyang,朝阳,CN,China,中国,Beijing,北京市,Beijing,北京市,Asia/Shanghai,39.9215,116.4864,110105
3,101010400,Shunyi,顺义,CN,China,中国,Beijing,北京市,Beijing,北京市,Asia/Shanghai,40.1289,116.6535,110113
4,101010500,Huairou,怀柔,CN,China,中国,Beijing,北京市,Beijing,北京市,Asia/Shanghai,40.3243,116.6371,110116

In [43]:
# Clean up:
# lowercase
# filter out all words that are not a single word
chinese_cities = df["Location_Name_EN"].dropna().apply(
  lambda x: x.lower()).str.split().apply(lambda x: x[0] if len(x) == 1 else None).dropna().apply(
  lambda x: ''.join(c for c in x if ord(c) < 128)) # filter out non-ascii characters

print(chinese_cities.sample(15))

chinese_cities.to_csv("chinese_cities.csv", index=False, header=['name'])

91      shuangcheng
3459        keelung
2151        nanjing
2643         ziyang
2531       zhenfeng
1223     doilungdqn
3179         yazhou
2853          yunan
400         huludao
2004       jiujiang
973          yiyuan
2967         wuding
721         xinrong
1172          yumin
1955       jingning
Name: Location_Name_EN, dtype: object