In [15]:
import pandas as pd

df = pd.read_csv("cities_in_japan_2023.csv")

In [16]:
df.head()

     id  prefecture_id                city_en city_ja special_district_ja
0  1100              1                Sapporo     札幌市                 NaN
1  1101              1       Chūō-ku, Sapporo     札幌市                 中央区
2  1102              1       Kita-ku, Sapporo     札幌市                  北区
3  1103              1    Higashi-ku, Sapporo     札幌市                  東区
4  1104              1  Shiroishi-ku, Sapporo     札幌市                 白石区

In [17]:
df.isna().sum()

id                        0
prefecture_id             0
city_en                   3
city_ja                   0
special_district_ja    1747
dtype: int64

In [18]:
# Clean up:
# Remove comma after
# Remove all parentheses and anything in them
# Remove all spaces
# Remove apostrophes
# Lower case everything
cities_raw = df["city_en"].dropna().apply(
    lambda x: x.split(",")[0].lower().split("(")[0].split(" ")[0].replace("'", "").strip())


cities_raw.to_csv("cities_raw.csv", index=False)
cities_raw

0            sapporo
1            chūō-ku
2            kita-ku
3         higashi-ku
4       shiroishi-ku
            ...
1913        kumejima
1914           yaese
1915          tarama
1916        taketomi
1917        yonaguni
Name: city_en, Length: 1915, dtype: object